.header {
  --header-font-size: 4.5rem;

  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.titles {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.titleText {
  font-weight: bold;
  font-family: var(--font-title);
  font-size: var(--header-font-size);
  line-height: var(--header-font-size);
  text-transform: uppercase;
}

.title {
  color: var(--text-color-primary);
  margin: 0;
}

.subtitle {
  background-image: var(--bg-accent-gradient);
  color: transparent;
  background-clip: text;
  margin: 0;
}

.link {
  display: none;
}

.linkLabel {
  white-space: nowrap;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color-primary);
}

.linkQr {
  color: var(--text-color-primary);

  & svg {
    display: block;
    --qr-svg-size: calc(30px + 2 * var(--header-font-size) - 1.5rem);
    width: var(--qr-svg-size);
    height: var(--qr-svg-size);
  }
}

.withLink {
  & .link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .titles {
    flex-direction: column;
  }

  & .title {
    margin-bottom: 30px;
  }
}

@media (--tablet-media) {
  .header {
    --header-font-size: 2.5rem;
  }
}

@media (--mobile-media) {
  .header {
    --header-font-size: 1.5rem;
  }
}

.logo {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.large {
  & .logo {
    width: 450px;
  }
}
