.table {
  overflow: auto;
  display: none;
  text-align: left;

  --table-font-size: 1.5rem;
  font-size: var(--table-font-size);
  line-height: var(--table-font-size);

  & table {
    width: 100%;
    border-spacing: 0;
  }

  &.large {
    --table-font-size: 2.5rem;

    & tr {
      padding: 10px 0;
    }
  }

  & thead {
    background: var(--bg-accent-gradient);
    color: var(--text-color-accent);
  }

  & tr {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;

    &:nth-child(even) {
      background: var(--bg-color-secondary);
    }
  }

  & td, & th {
    padding: 20px 10px;
    flex-grow: 1;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.caption {
  display: none;
}

.lists {

}

.header.fixed {
  position: absolute;
  overflow: hidden;
  top: 0;
  box-shadow: var(--shadow-spec-focus, 0 2px 8px 0 rgba(var(--theme-rgb-section-shadow, 0), 0, 0, 0.1));
}

/*@media (--tv-media), (--desktop-media), (--tablet-media), (--print-media) {*/
  .table {
    display: block;
  }

  .lists {
    display: none;
  }
/*}*/