.table {
  overflow-x: auto;
  display: none;
}

.lists {

}

.header.fixed {
  position: absolute;
  overflow: hidden;
  top: 0;
  box-shadow: var(--shadow-spec-focus, 0 2px 8px 0 rgba(var(--theme-rgb-section-shadow, 0), 0, 0, 0.1));
}

@media (--tv-media), (--desktop-media), (--tablet-media), (--print-media) {
  .table {
    display: block;
  }

  .lists {
    display: none;
  }
}