@custom-media --mobile-media screen and (width < 768px);
@custom-media --tablet-media screen and (768px <= width < 1200px);
@custom-media --desktop-media screen and (1200px <= width < 1600px);
@custom-media --tv-media screen and (width >= 1600px);
@custom-media --print-media print;

:root {
  --bg-color-primary: #203f71;
  --bg-color-secondary: #2665ca /* #f0f6ff */;
  --bg-accent-gradient: #fefefe; /* linear-gradient(#E35F22 0%, #E92B07 100%); */
  --bg-secondary-gradient: #83a6df; /* linear-gradient(#C5C7C6 0%, #E4E3E2 100%); */

  --text-color-primary: #FFFFFF;
  --text-color-secondary: #f0f6ff;
  --text-color-accent: #225bb8;

  --font-title: 'Russo One', sans-serif;
  --font-text: 'Rubik', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--bg-color-primary);
  height: 100%;
}

div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
